[Unit]
Description=Kanata Service
After=network.target

[Service]
AmbientCapabilities=CAP_SYS_ADMIN
ExecStart=/home/dylan/.cargo/bin/kanata
Restart=always
User=dylan
WorkingDirectory=/home/dylan
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=kanata
Environment=PATH=/home/dylan/.cargo/bin:/usr/local/bin:/usr/bin:/bin

[Install]
WantedBy=multi-user.target
